*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    background-color: #F0F0F6;
    font-family: 'Inter',sans-serif;
    font-style: normal;
    
    text-transform: capitalize;
    font-feature-settings: 'calt' off, 'kern' off;
}
main{
    padding: 0 5%;
}
.Main-content{
    position: relative;
    width: 100%;
    height: 669.87px;
    background-color: #ffffff;

}
nav{
    display: flex;
    justify-content: center;
    
}
#navbar{
    position: sticky;
    top: 0;
    background-color: #fff;
    overflow: hidden;
    z-index: 9999;
}

#navbar a{
    text-align: center;
    color : #525050;
    text-decoration: none;
    padding: 14px 16px;
}
#navbar a.active{
    margin-top: 1rem;
    transition: 1222ms;
    text-decoration: underline 2.5px solid #FFB400;
}
a.item{
    border-bottom: 2px solid #FFB400;
}
.container1{
    display: flex;
    /* align-items: center; */
    justify-content: space-around;
    padding-top: 3.5rem;
}
.name {
font-size: 48px;
font-weight: 700;
line-height: 59px;
letter-spacing: 0em;
text-align: left;
padding: 5rem;
width: 659.79px;
height: 200.26px;

}
.name span{
    color: #FFB400;
}
.about{
    width: 559.51px;
    height: 156.23px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #767676;
   padding-top: 4rem;
  
}
.btn1{
    margin-top: 4rem; 
    color: #2B2B2B;
    width: 6rem;
    height: 3rem;
    background-color: #FFB400;
    border: none;
    cursor: pointer;
}

.image1{
   padding-top: 2.7rem;
}

.secondly-main-container{
    height: 700px;
    width: 100%;

}
.service-text{
    padding-top: 30px;
}

.service-text h2{
    margin-top: 4%;
    text-align: center;
    font-weight: 700;
    font-size: 32px;
    line-height: 123.6%;
    color: #2B2B2B;
}
.service-text h3{
    padding-top: 25px;
    margin: 0 auto;
    width: 578px;
    height: 68px;
    text-align: center;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    text-align: center;
    color: #767676;
}

#grid-container {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
    margin-top: 2rem;
    
 }
 .grid-item {
    display: flex;
    background-color: #fff;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
    height: 15rem;
    
    /* width: 440px; */
 }
 .grid-item:hover {
    cursor: pointer;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
 }
 .grid-item h2{
    padding-top: 10px;
    font-weight: 700;
    font-size: 18px;
    line-height: 2rem;
    text-align: center;
    color: #2B2B2B;
 }
.grid-item p{
    font-weight: 400;
    font-size: 13px;
    line-height: 24px;
    text-align: center;
    color: #767676;
}
.grid-item button{
    margin-top: 1.5rem;
    color: #FFB400;
    background: none;
    border: none;
    cursor: pointer;
}
.grid-item button:hover{
    border: 1px solid #FFB400;
}


.grid-item text{
    color: #FFB400;
    font-size: 12px;
    font-weight: 700;
    text-decoration: none;
}
text{
    padding-left: 2rem;
}

#About{
    padding-top: 6rem;
}

.education{
    display: flex;
    justify-content: space-around;
    
  }
  .education-1{
    /* text-align: center; */
    justify-content: center;
  }
  
  .education-1 h4{
    margin: 0 auto;
    font-weight: 700;
    font-size: 32px;
    width: 158px;
    line-height: 123.6%;
    text-transform: capitalize;
    color: #2B2B2B;
  }

  .education-1 p{
    width: 470px;
    font-weight: 400;
    font-size: 15px;
    margin-top: 1rem;
    line-height: 24px;
    text-align: center;
    text-transform: capitalize;
    color: #767676;
  }

  .work-1 h4{
    margin: 0 auto;
    font-weight: 700;
    font-size: 32px;
    width: 240px;
    line-height: 123.6%;
    text-transform: capitalize;
    color: #2B2B2B;
  }

  .work-1 p{
    width: 470px;
    font-weight: 400;
    font-size: 15px;
    margin-top: 1rem;
    line-height: 24px;
    text-align: center;
    text-transform: capitalize;
    color: #767676;
  }
 
  #school-work{
   /* background: white; */
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   margin-top: 2rem;
   gap: 10px;
  }
 #school {
   background: #fff;
 }
 .container {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   gap: 1rem;
   border-bottom: 1.5px solid #F0F0F6;
   margin: 0 25px 0 25px;
   height: 20rem
 }
 .left{
    width: 180px;
    margin: 30px 0 0 15px;
 }
 .left h1{
    width: 14.2rem;
    font-weight: 500;
    font-size: 18px;
    line-height: 123.6%;
    color: #2B2B2B;
    /* padding: 2rem; */
 }
 .left h3{
    padding-top: .5rem;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #2B2B2B;
 }
 .left p{
    width: 79px;
    height: 28px;
    font-weight: 400;
    font-size: 10px;
    line-height: 100.9%;
    color: #FFFFFF;
    background: #FFB400;
    border-radius: 1px;
 }
 .right {
    width: 353px;
    margin: 30px 20px 0 20px;
 }
 .right h1{
    width: 192px;
    height: 47px;
    font-weight: 500;
    font-size: 18px;
    line-height: 123.6%;
    color: #2B2B2B;
 }
 .right p{
    padding-top: 1rem;
    width: 357.52px;
    height: 124.05px;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #767676;   
 }
   #work {
     height: 100%;
     background: #fff;
   }

#Contact{
    padding-top: 3rem;
}


.info{
    margin-block: 2rem;
    width: 651.52px;
    height: 47.21px;
    font-weight: 700;
    font-size: 32px;
    line-height: 123.6%;
    text-transform: capitalize;
    color: #2B2B2B;
}

form {
    padding: 3rem;
    width: 100%;
    height: 784.79px;
    background: #fff;
}
input{
    padding-left:2rem
}
#fName {
    margin-top: 1rem;
    width: 100%;
    height: 59.01px;
    background: #F0F0F6;
    border: none;
}
#email {
    width: 100%;
    height: 59.01px;
    background: #F0F0F6;
    border: none;
}
#subject {
    width: 100%;
    height: 59.01px;
    background: #F0F0F6;
    border: none;
}
#message {
    padding-top: 1rem;
    padding-left: 0.5rem;
    width: 100%;
    height: 193px;
    background: #F0F0F6;
    border: none
}
textarea{
    resize: none;
}
.send{
    height: 70px;
    width: 100%;
    left: 0px;
    top: 0px;
    background: #FFB400;
    border-radius: 10px;
    border: none;
}
label{
    font-weight: 500;
    font-size: 18px;
    line-height: 123.6%;
    text-transform: capitalize;
    color: #767676;
}

picture{
    display: flex;
    justify-content: space-between;
    padding-top: 4rem;
}
footer{
    width: 60.6rem;
    height: 3.6rem;
    margin-top: 3.5rem;
    margin-left: 12.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}
.copyright{
    display: flex;
    justify-content: center;
    text-align: center;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    text-transform: capitalize;
    font-feature-settings: 'calt' off, 'kern' off;
    color: #2B2B2B;

}